<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Confirmation your email</title>
  </head>
  <body>
    <p>Welcome to Discu Zone,</p>
    <p>
      Click
      <b><a href="<%=link%>" target="_blank">here</a></b>
      to activate your acount or go to this link: <%=link%>
    </p>
    <p><small>This link will expire in an hour.</small></p>
    <br />
    <p>Best of luck,</p>
    <p>Discu Zone Team</p>
  </body>
</html>
