<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Reset your password</title>
  </head>
  <body>
    <p>Hello</p>
    <br />
    <p>
      Your password reset link:
      <b><a href="<%=link%>" target="_blank">here</a></b>
    </p>
    <p>Or go to this link: <%=link%></p>
    <p><small>This link will expire in 30 minutes.</small></p>
    <br />
    <p>Best regards,</p>
    <p>Discu Zone Team</p>
  </body>
</html>
